body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

.btn {
    margin: 1em;
}

form
{
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

.timer{
    border-radius: 50px;
    background: #1e1e1e;
    box-shadow:  20px 20px 60px #1a1a1a,
                -20px -20px 60px #232323;
    margin: 4em;
    height: 20em;
}

.time-value
{
    padding-top: 5em;
}

